[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas="*"
requests = "*"
prefect = "*"
prefect-gcp = "*"
google-cloud-storage = "*"
configparser = "*"
pip = "*"
google-cloud-bigquery = "*"
pydantic = "*"
google-cloud-bigquery-storage = "*"
dlt = {extras = ["gs"], version = "*"}

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
